BareMetal.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/xcdebugger/Expressions.xcexplist
BareMetal.xcodeproj/xcuserdata/max.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BareMetal.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/IDEFindNavigatorScopes.plist
BareMetal.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate
